### Java ###
# Compiled class file
*.class

# Log file
*.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.jardesc
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see 
http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# .
.metadata
.recommenders
.classpath
.project
.settings
bin
data
# lib
log
log/point/*
log/replay/*
log/err/*
log/json/*
log/out/*
*.ini
#intellJ
/.idea/*
*.iml

!lib/**
!DareFightingICE/**
!data/
!data/**
**/__pycache__
**/.DS_Store

### Python ###
venv/
*.pyc
.env
*_pb2.py
*_pb2_grpc.py

### Build Artifacts ###
sources.txt

### IDE Files ###
DareFightingICE/.project

TWITCH/Twitch-extension/package_overlay.sh



